<%- include ('../partials/header') %>

<main>
    <%- include ('../partials/navigationBar') %>
    <div class="container">
        <section class="bg-dark">
            <h2 class="fw-bold mb-2 text-uppercase title">Popular Movies</h2>
        
            <div class="row">
                <% for (let i = 0; i < 5; i++) { %>
                    <div class="card" style="width: 16rem;">
                        <img src="<%= urls[i] %>" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title"><%= names[i] %></h5>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </div>
</main>
<%- include ('../partials/footer') %>