<%- include ('../partials/header') %>
<div class="container-fluid gradient-custom flex">
    <div class="column-left-sm">
        <a class="btn bg-dark" href="/home" role="button">
            <i class="bi bi-arrow-return-left" style="color: white;"></i>
        </a>
    </div>
    <div class="column-left-large">
        <div class="card card-photo bg-dark">
            <img src="<%= movie[0].image_url %>">
        </div>
    </div>
    <div class="column-right">
        <div class="card card-review bg-dark">
            <h2 class="fw-bold mb-2 text-uppercase title text"><%= dbr %></h2>
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Positive</h5>
                    <p class="card-text">
                        <%= pos %>
                    </p>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Neutral</h5>
                    <p class="card-text">
                        <%= nrl %>
                    </p>
                </div>
            </div>
            <div class="card bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Negative</h5>
                    <p class="card-text">
                        <%= neg %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include ('../partials/footer') %>